.dym {
    display: flex;
    position: absolute;
    animation: 15s normal slideAnimation forwards;
    animation-delay: 1s;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
      }
    100% {
        transform: translateX(-65%);
    }
    0%, 25% {
        opacity: 0.5;
      }
    25%, 30% {
        opacity: 0;
      }
    45%, 65% {
        opacity: 0.5;
    }
    65%,70% {
        opacity: 0;
    }
    70%,100%{
        opacity: 0;
    }
  }